# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Update package version and set up git
      - name: Update package version and setup git
        run: |
          git config --global user.email "pedroguia@live.com.pt",
          git config --global user.name "Pedro Guia"
          yarn version --patch

      # Publish to GitHub Package Registry
      - uses: actions/setup-node@master
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: "<@OWNER>"
      - name: Publish to GitHub Package Registry
        run: |
          npm config set registry http://registry.npmjs.org
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{SECRETS.NPM_AUTH_TOKEN}}
