name: Update version and publish package

on:
  push:
    branches: ["master"]

jobs:
  update-version:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup git
        run: |
          git config --global user.email "pedroguia@live.com.pt",
          git config --global user.name "Pedro Guia"

      - name: Update package version
        run: yarn version --patch

      - name: Commit changes
        uses: EndBug/add-and-commit@v7
        with:
          author_name: Pedro Guia
          author_email: pedroguia@live.com.pt
          message: "updated package version"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}

  publish:
    needs: update-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Build container image
        uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"

      - name: Install dependencies
        run: yarn

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
